@import url('./__image/place__image.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__title/place__title.css');
@import url('./__website/place__website.css');
@import url('./__content/place__content.css');

.place{ 
    display: grid;
    grid-gap: 48px 40px;
    grid-template-columns: repeat(2, minmax(460px, 1fr));
    margin-bottom: 80px;
    align-items: start;
}

@media (max-width: 1124px) {
    .place {
        grid-template-columns: repeat(2, minmax(340px, 1fr));
        grid-gap: 32px 28px;
    }

    .place__image {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .place {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }

    .place__content {
        grid-column: 1;
    }

    .place__image {
        grid-row: auto;
    }

    .place__website {
        grid-column: 1;
        grid-row: auto;
    }

    .place__title {
        font-size: 42px;
    }

    .place__paragraph {
        font-size: 16px;
    }
}

