.lead__title {
    font-size: 96px;
    width: 74%;
    text-align: center;
    font-family: 'Inter-Black', sans-serif;
    margin-bottom: 32px;
    margin-top: 40px;
}

@media (max-width: 1024px) {
    .lead__title {
        width: 78vw;
    }
}

@media (max-width: 890px) {
    .lead__title {
        width: 91vw;
    }
}

@media (max-width: 700px) {
    .lead__title {
        font-size: 70px;
        width: 85vw;
    }
}

@media (max-width: 550px) {
    .lead__title {
        font-size: 60px;
        width: 85vw;
    }
}