.place__website__link{
    font-size: 18px;
    color: #fff;
    transition: opacity ease 0.3s;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.place__website__link:hover {
    opacity: 0.4;
}