@import url('./__list-item/intro__list-item.css');
@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');
@import url('./__list-text/intro__list-text.css');

.intro {
    max-width: 690px;
    text-align: start;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    margin-left: 11.5%;
}


@media (max-width:1280px) {
    .intro{
        margin-left: 48px;
    }
}
@media (max-width:1023px) {
    .intro{
        max-width:94%;
        margin-left: 24px;
    }
}

@media (max-width:767px) {
    .intro{
        max-width: 90%;
        margin-left: 16px;
    }
}