@import url('./vendor/normalize.css');
@import url('./fonts/fonts.css');
@import url('./vendor/normalize.css');
@import url('./blocks/header/header.css');
@import url('./blocks/lead/lead.css');
@import url('./blocks/intro/intro.css');
@import url('./blocks/photo-grid/photo-grid.css');
@import url('./blocks/places/places.css');
@import url('./blocks/cover/cover.css');
@import url('./blocks/footer/footer.css');

.root {
    background-color: #2A2C2F;
    font-family: 'Inter-Light', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

