@import url('./__copyright/footer__copyright.css');
@import url('./__link/footer__link.css');
@import url('./__links/footer__links.css');

.footer {
    width: 93%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: auto;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: start;
        align-items: flex-start;
    }
}